body {
    font: 100%/1.5 Roboto;
    max-width: 140ch;
    margin-inline: max(1em, (100% - 140ch) / 2);
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

.team {
    font-size: 1em;
}

#chart {
    aspect-ratio: 3 / 2;
}

.gridlines line {
    stroke-width: 0.2px;
}

h3 {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

#countryPicker {
    display: inline-block;
    margin-top: 20px;
}